DATABASE_URL="postgresql://user:password@ep-xxx.neon.tech/dbname?sslmode=require"

AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

AUTH_GOOGLE_ID="your-google-oauth-client-id"
AUTH_GOOGLE_SECRET="your-google-oauth-client-secret"

GOOGLE_CALENDAR_DEFAULT_TIMEZONE="America/Sao_Paulo"

ADMIN_EMAILS="raphael@institutoi10.com.br,tech@betteredu.com.br"
